@media screen and (max-width: 320px) {
ul {
left: 1%;
}

li a {
font-size: 75%;
  }
  
h1 {
font-size: 400%;
  }
  
h2 {
font-size: 200%;
  }
  
h3 {
  
  }

h4 {
  
  }
  
h5 {
  
  }
  
h6 {
  
  }

p {
  
  }
}
